.calendar-container {
  /* display: flex;
  flex-direction: column; */
  /* 
   */
  /* justify-content: center;
  align-items: center; */
  /* width: 100%; */
}
html {
  font-size: 62.5%;
}
body {
  background: #efefef;
}
.row {
  display: flex;
  width: 100%;
}
.calendar {
  /* display: block; */
  background: #ffffff;
  max-width: 500px;
  /* border: solid 1px #cccccc; */
  margin: 10px auto;
  box-shadow: 0 0 15px 0 #c0c0c0;
  border-radius: 10px;
  font-size: 1.3rem;
  text-align: center;
}
.calendar .calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: default;
  font-size: 1.4rem;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
  /* border-radius: 10px 10px 0 0 ; */
}
.calendar .calendar-header .month-display {
  align-items: center;
  height: 50px;
  background: #2875c7;
  border-radius: 7px 7px 0 0 ;
}
.calendar .calendar-header .month-label {
  flex: 1;
}
.calendar .calendar-header .arrow {
  text-align: center;
  flex-basis: 15%;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar .calendar-header .arrow:hover {
  background: #1f5c9d;
}
.calendar .week {
  border-top: solid 1px #cccccc;
}
.calendar .week:first-child {
  border-top: none;
}
.calendar .day-names {
  color: #2875c7;
  font-weight: bold;
  cursor: default;
  font-size: 1.2rem;
}
.calendar .day-names .day {
  cursor: default;
}
.calendar .day-names .day:hover {
  background: inherit;
}
.calendar .day {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 45px;
  border-left: solid 1px #cccccc;
  cursor: pointer;
  transition: all 0.2s;
}
.calendar .day:hover {
  background: #efefef;
}
.calendar .day:first-child {
  border-left: none;
  color: #cccccc;
  cursor: default;
}
.calendar .day:last-child {
  color: #cccccc;
  cursor: default;
}
.calendar .day.today {
  background: #dceaf8;
}
.calendar .day.different-month {
  color: #c0c0c0;
}
.calendar .day.selected {
  background: #2875c7;
  color: #ffffff;
  /* border-radius: 50%; */
}
.calendar-buttons{
  
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* za react-calendar-timeline */
/* .calendar{
  box-sizing: border-box;
  width: 95%;
  border: 1px solid green;
}
.react-calendar-timeline * {
  box-sizing: border-box;
}

.react-calendar-timeline .rct-outer {
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.react-calendar-timeline .rct-scroll {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.react-calendar-timeline .rct-item:hover {
  z-index: 88;
}

.react-calendar-timeline .rct-item  {
  position: sticky;
  position: -webkit-sticky;
  left: 0px;
  overflow: hidden;
  display: inline-block;
  border-radius: 20px;
  padding: 0 6px;
  height: 100%;
}

.react-calendar-timeline .rct-sidebar {
  overflow: hidden;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  position: relative;
  box-sizing: border-box;
  border-right:none;
}
.react-calendar-timeline .rct-sidebar.rct-sidebar-right {
  border-right: 0;
  border-left: none;
}
.react-calendar-timeline .rct-sidebar .rct-sidebar-row {
  padding: 0 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
  margin: 0;
  border-bottom: none;
}
.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-odd {
  background: transparent;
}
.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-even {
  background: transparent;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl {
  position: absolute;
  margin: auto;
  border-left: 2px solid #bbb;
  z-index: 30;
}
.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-vl-first {
  border-left-width: 2px;
}
.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-6,
.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-0 {
  border-left: 2px solid #ffeded ;
  background-color: white;
}

.react-calendar-timeline .rct-horizontal-lines {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.react-calendar-timeline .rct-horizontal-lines .rct-hl-even,
.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  border: none;
  box-sizing: border-box;
  z-index: 40;
}
.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  background: transparent;
}
.react-calendar-timeline .rct-horizontal-lines .rct-hl-even {
  background: transparent;
}

.react-calendar-timeline .rct-cursor-line {
  position: absolute;
  width: 2px;
  z-index: 51;
}

.react-calendar-timeline .rct-dateHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  font-size: 16px; 
  background-color: white;
  border: none;
  background: white;
}


.react-calendar-timeline .rct-dateHeader-primary {
  background: #ffeded;
  border: none;
  border-radius: 0%;
  color: #6b6b6b;
}

.react-calendar-timeline .rct-header-root {
  background: white;
  border-bottom: none;
}

.react-calendar-timeline .rct-calendar-header {
  background: white;
  border: none;
} */
